{{- $section3 := .Site.Params.section3 }}
{{- $title    := index $section3 "title" }}
{{- $subtitle := index $section3 "subtitle" }}
{{- $tiles    := index $section3 "tiles" }}
<section class="section section-feature-grey is-medium" style="background-color: #3498db;;" id="section3">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2" style="color:aliceblue;"> {{ $title }}</h2>
      <h3 class="subtitle is-5" style="color:aliceblue;">{{ $subtitle }}</h3>
      <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
        <div class="tile is-ancestor">
            <div class="tile is-12 is-parent">
              <div class="tile is-child box">
                {{- range $tiles}}
                {{/*  <h2 class="title is-2 has-text-centered">Clinical</h2>  */}}
                {{/*  <p class="is-size-5">{{ .text1 | markdownify }}</p> <br />
                <p class="is-size-5">{{ .text2 | markdownify }}</p> <br />
                <p class="is-size-5">{{ .text3 | markdownify }}</p>  */}}
                <img src="{{ printf "/images/illustrations/icons/%s.png" .icon | relURL }}">
              </div>
                {{- end }}
            </div>
            {{/*  <div class="tile is-parent">
              <div class="tile is-child box">
                <h2 class="title is-2 has-text-centered">Administrative</h2>
                <p class="is-size-5">{{ .text4 | markdownify }}</p> <br/>
                <p class="is-size-5">{{ .text5 | markdownify }}</p> <br/>
                <p class="is-size-5">{{ .text6 | markdownify }}</p> <br />
                <p class="is-size-5">{{ .text7 | markdownify }}</p> <br />
                <p class="is-size-5">{{ .text8 | markdownify }}</p> <br />
                {{- end }}
              </div>
            </div>  */}}
          </div>
    </div>
  </div>
</section>